version: '3.9'

services:
  app:
    build: .
    container_name: ycphacks-api
    restart: always
    networks:
      - webnet
    ports:
      - "3000:3000"
    env_file:
      - .env
networks:
  webnet:
    external: true